body{ 
    background: url(Minimalistic_cheddi.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: rgb(0, 0, 0); 
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
   
    color: rgb(0, 0, 0);
}
.one{
    text-align: center;
}
.two{
    text-align: center;
    
}