table, th, td, tr {
    border: none;
    line-height: 25px;
    align-items: center;
    padding: 5px;
    
padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;

}
table {
    margin-left: auto;
    margin-right: 37%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 30px 0 rgba(116,145,93);
    width: 60%;
    align-items: center;
    text-align: center;
    background-image:linear-gradient(to right,#F7FFF4,rgb(116,145,93));
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: black;
}

body{
    
    background: url(Minimalistic_cheddi.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.button {
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 7%;
    background-color: #4CAF50; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button:hover {
    background-color: #5dd861; /* Green */
    color: white;
  }

#upload {
    margin-left: 7%;
    margin-right: 37%;
    margin-top: -7%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 30px 0 rgba(116,145,93);
    width: 40%;
    align-items: left;
    text-align: left;
    background-image:linear-gradient(to right,#F7FFF4,rgb(116,145,93));
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#rec
{
    margin-left: 18%;
    margin-top: 10%;
    font-size: 50px;
}